*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    background: linear-gradient(to right,#eef2f3,#8e9eab);
}
nav h1{
  background: linear-gradient(to right, #00bcd4, #9c27b0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
   font-size: 40px;
}

   
nav{
    background-color: #1f2937;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
}
.list-items {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 20px;
    list-style: none;
    font-size: 25px;
}
.list-items a{
    text-decoration: none;
    color: white;
}
.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.container1{
    display: flex;
    align-items: center;
    height: 300px;
    width: 700px;
    border: rgb(112, 110, 110) solid 2px;
    border-radius: 20px;
    /* margin-top: 20px; */
    padding-left: 20px;
    
}
.info p,h2{
    padding-left: 30px;
}
.info p{
    font-size: 17px;
}
#about{
    margin:100px
}
#wel{
    border-radius: 50px;
}

#cen{
    display: flex;
    justify-content: center;
    margin-top: 80px;
    font-size: 30px;
    margin-bottom: 80px;
}
.events{
    display: grid;
     grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));


}
.items{
    height: 250px;
    width: 250px;
    border: black solid 2px;
    padding: 15px;
    border-radius:10px;
    padding-bottom: 10px;
    box-shadow: 2px 3px lightgray;
    background-color: #f5f5f5;
}
.items p{
    padding: 10px;
    font-size: 20px;
}
.items a{
    text-decoration: none;
    color: blue;
    font-size: 18px;

}
html{
    scroll-behavior: smooth;
}
.visit{
    margin-top: 70px;
    height:50px;
    width: 90px;
    border-radius: 5px;
}
.hero a{
    font-size: 20px;
    text-decoration: none;
    color: black;
}
button:hover{
    background-color: bisque;
    cursor: pointer;
    transform: scale(1.05);
}
.contact{
    background-color: #1f2937;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.anchor{
    display: flex;
    gap: 30px;
}
.contact a{
    font-size: 20px;
    color: white;
    text-decoration: none;
    margin-top: 20px;
    padding-bottom: 20px;
}
.items{
    background-color: ivory;
    transition: all 0.3s ease;
    
}
.items:hover{
    background-color: white;
    transform: translateY(-7px);
.hero img{
    max-width: 100%;
    height:auto

}
}
@media (max-width:768px){
     nav{
        flex-direction: column;
        text-align: center;
    }

    nav h1{
        font-size: 22px;
    }

    .items{
        margin: 10px;
    }
}
.anchor a:hover{
    color: blue;
}
.anchor a{
    font-size: 25px;
}
.items a{
    color: black;
}
.items a:hover{
    color: blue;
}