*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0f172a;
    color: white;
    padding: 10px 100px 10px 100px;
    
}
.nav-links{
    display: flex;
    list-style: none;
    gap: 40px;
    background: local;
    padding: 15px;
}
.nav-links a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}

nav img{
    height: 35px;
    width: 100px;
    margin-left: 10px;
}
.hero{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.hero h1{
    margin-bottom: 10px;
    font-size: 50px;
    padding: 0px 300px 0px 300px;

}
.hero h3{
    margin-bottom: 30px;
    font-size: 30px;
}
.hero button{
    height: 50px;
    width: 100px;
    font-size: 20px;
    background-color: rgb(45, 231, 116);
    color: white;
    font-weight: 600;
    
    .content{
        text-align: center;
    }
}
.hero button:hover{
background: #22c55e;
}

.img{
    justify-content: end;
    height: 300px;
    width: 300px;
   
}
.abt{
text-align: center;
padding: 60px 20px;
}
.abt legend{
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    padding: 10px;
}
.abt fieldset{
    border: #0f172a solid 2px;
    background: linear-gradient(to right, #f8fbff, #eef5ff);
    margin-bottom: 100px;
}
.abt p{
    font-size: 25px;
    margin: 10px;
}

.footer{
    background:#f1f5f9;
    color:black;
    text-align:center;
    padding:40px 20px;
}

.footer a{
    color:black;
    text-decoration:none;
}

.social-icons{
    margin-top:15px;
}

.social-icons a{
    font-size:28px;
    margin:0 12px;
}
@media (max-width:768px){
    
    /* Navbar */
    nav{
        flex-direction:column;
        padding:15px;
    }

    .nav-links{
        flex-direction:column;
        gap:10px;
    }

    /* Hero */
    .hero{
        flex-direction:column;
        text-align:center;
        gap:20px;
    }

    .hero h1{
        font-size:32px;
        padding:0;
    }

    .img{
        width:200px;
        height:200px;
    }

    /* Footer icons */
    .social-icons{
        margin-top:15px;
    }
}


.social-icons a:hover{
    color:#22c55e;
}

